.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 101;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.3rem 0.5rem;
}
nav div a,
nav button {
  font-size: 1.2rem;
}
/* стили для левой части */
.logo {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}
.logo:hover::after {
  width: 0;
}
/* стили для правой части навигации */
.nav-right,.nav-left{
  flex:1;
}
.nav-right{
  display:flex;
  align-items: center;
  justify-content: end;
}
.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex:3;
}
.icon-lable{
  display:flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}
.icon-lable a{
  color:#fff;
  text-decoration: none;
}
nav div a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ffe047;
  display: block;
  margin: auto;
  transition: width 1s ease;
}
nav div a:hover::after {
  width: 100%;
}
/* стили для кнопки  */
.custom-button {
  position: relative;
  padding: 10px 20px;
  margin-left: 2rem;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display:flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}
.custom-button a {
  color: #fff;
  text-decoration: none;
  padding-top:3px;
}
.custom-button a:hover::after {
  width: 0;
}

.custom-button::before,
.custom-button::after {
  content: "";
  position: absolute;
  background-color: #ffe047;
  transition: transform 1s ease;
  transform: scaleX(0);
  width: 100%;
  height: 2px;
}

.custom-button::before {
  top: 0;
  left: 0;  
  transform-origin: left;
}

.custom-button::after {
  bottom: 0;
  right: 0;
  transform-origin: right;
}

.custom-button:hover::before,
.custom-button:hover::after {
  transform: scale(1);
}
