@font-face {
  /*подключаем шрифты*/
  font-family: raleway_f; /*суффикс _f указывается (любой), для того, чтобы шрифты не подгружались из системы, а брались ислючительно из нашей папки*/
  src: url(../fonts/raleway-regular.woff2);
}
@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-black.woff2);
  font-weight: 900;
}
:root {
  --bg-content: #bdbb85de;
  --content-shadow: 0 0 15px rgba(255, 224, 71, 0.9);
  --bg-container: #fffee3;
  --primary-color: #003e1f;
  --primary-hover: #01110a;
  --text-color: #333;
  --text-light: #fffee3;
  --input-bg: #003e1f20;
  --social-icon-bg: #fffee3;
  --social-icon-shadow: 0px 0px 3px #003e1f;
  --social-icon-hover-shadow: 2px 2px 2px #003e1f, -2px -2px 2px #fff;
  --toggle-bg: linear-gradient(to right, #008f47, #003e1f);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: raleway_f, sans-serif;
}

body {
  /* background: url(../my-img/fullSizeImg/yellow-flowers-blur.jpg); */
  background: url(../my-img/fullSizeImg/flower-under-rain.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  background-color: var(--bg-container);
  padding: 30px;
  border-radius: 10px;
  box-shadow: var(--content-shadow);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 {
  color: var(--primary-color);
  margin-bottom: 20px;
  font-size: 24px;
}

#password-update-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  background-color: var(--input-bg);
  color: var(--text-color);
  font-size: 16px;
  width: 100%;
}

input:focus {
  outline: none;
  border-color: var(--primary-hover);
  box-shadow: 0 0 5px rgba(0, 62, 31, 0.3);
}

button {
  background-color: var(--primary-color);
  color: var(--text-light);
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-hover);
}

#message {
  margin-top: 20px;
  color: var(--text-color);
  font-size: 14px;
}

.password-field {
  position: relative;
  width: 100%;
  margin: 8px 0;
}

.password-field input {
  padding-right: 40px; /* Оставляем место для кнопки */
  width: 100%;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  padding: 0;
  margin: 0 !important;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.password-toggle:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform:translateY(-50%) !important;
}